@import '../utilities/colors';

.hero_area {
  height: 100vh;
  position: relative;
}

.hero_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18%;
  min-width: 150px;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-start),
    to($color-end)
  );
  background: linear-gradient(to right, $color-start, $color-end);
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area::before {
  width: 160px;
}
