@import '../helpers/mixins';
@import '../helpers/extend';
@import '../utilities/colors';

.navbar-brand {
  @include flex-center;
  font-family: 'American Typewriter', sans-serif;
  font-weight: 400;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.navbar-brand span {
  text-transform: uppercase;
  font-size: 22px;
  color: $just-white;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}
