$just-black: #000;
$dark-grey: #272727;
$darker-grey: #0c0c0c;
$dark-grey-b: #252525;
$dark-grey-c: #363535;
$dark-grey-d: #2e2d2d;
$dark-blue: #1d1e31;
$dark-black: #262626;
$light-blue: #51b5ef;
$color-start: #51b5ef;
$color-end: #436bf1;
$just-white: #fff;
$white-grey: #fefeff;
$white-grey-b: #f7f7f7;
$white-grey-c: #f8f8f8;
$white-grey-d: #c2c2c2;
$white-grey-e: #cdcbcd;
$white-grey-f: #a9a6a6;
$transparent: transparent;
$blue-rgba: rgba(62, 103, 205, 0.9);
$dark-rgba: rgba(35, 9, 9, 0.6);
$initial: initial;
$just-orange: #fc5d35;
$just-green: #10e276;
$just-grey: #959494;
