/**************
 * RESPONSIVE *
 **************/
$max-width-l: 1120px;
$max-width-la: 992px;
$max-width-lb: 768px;
$max-width-lc: 576px;
$max-width-ld: 480px;
$max-width-le: 420px;
$max-width-lf: 360px;
$max-width-lg: 320px;
$min-width-xl: 1200px;
